<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-secondary text-white" style = "text-align:center">
    <br/><br/>
    <h1 style='color:purple'>Try again! {{guesses}} guesses remaining!</h1>
    <br/><br/><br/>
    <h3>Guess A Number:</h3>
    <form action = "{{ url_for('guess') }}" method = "POST">
    <input type="text" name = "guess"/ style="text-align:center">
    <br/><br/>
    
    <input type="submit" class="btn btn-dark" name = "submit"/>
    </form>
</body>
    
</html>